SLProcessController/SLProcessController/Service References/ProcessService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getHostInfos">
        <s:complexType />
      </s:element>
      <s:element name="getHostInfosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getHostInfosResult" type="tns:ArrayOfHostInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfHostInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="HostInfo" nillable="true" type="tns:HostInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="HostInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="HostName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IP" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ChangeProcessState">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HostIp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProcessName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bPlay" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeProcessStateResponse">
        <s:complexType />
      </s:element>
      <s:element name="LogMfccStart">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProcessName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="bPlay" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LogMfccStartResponse">
        <s:complexType />
      </s:element>
      <s:element name="getDbQueueCnt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="mfcc_type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="port" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="isHost" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDbQueueCntResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getDbQueueCntResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProcessInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetProcessInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetProcessInfoResult" type="tns:ArrayOfProcessInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfProcessInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ProcessInfo" nillable="true" type="tns:ProcessInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProcessInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ProcessName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ConsolePort" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ExecutiongString" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="State" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CPU_Time" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="Mermory" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="IsAlive" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="PID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataQueueCnt" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="HostIP" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MFCC_TYPE" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="getHostInfosSoapIn">
    <wsdl:part name="parameters" element="tns:getHostInfos" />
  </wsdl:message>
  <wsdl:message name="getHostInfosSoapOut">
    <wsdl:part name="parameters" element="tns:getHostInfosResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeProcessStateSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeProcessState" />
  </wsdl:message>
  <wsdl:message name="ChangeProcessStateSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeProcessStateResponse" />
  </wsdl:message>
  <wsdl:message name="LogMfccStartSoapIn">
    <wsdl:part name="parameters" element="tns:LogMfccStart" />
  </wsdl:message>
  <wsdl:message name="LogMfccStartSoapOut">
    <wsdl:part name="parameters" element="tns:LogMfccStartResponse" />
  </wsdl:message>
  <wsdl:message name="getDbQueueCntSoapIn">
    <wsdl:part name="parameters" element="tns:getDbQueueCnt" />
  </wsdl:message>
  <wsdl:message name="getDbQueueCntSoapOut">
    <wsdl:part name="parameters" element="tns:getDbQueueCntResponse" />
  </wsdl:message>
  <wsdl:message name="GetProcessInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetProcessInfo" />
  </wsdl:message>
  <wsdl:message name="GetProcessInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetProcessInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getHostInfos">
      <wsdl:input message="tns:getHostInfosSoapIn" />
      <wsdl:output message="tns:getHostInfosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeProcessState">
      <wsdl:input message="tns:ChangeProcessStateSoapIn" />
      <wsdl:output message="tns:ChangeProcessStateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LogMfccStart">
      <wsdl:input message="tns:LogMfccStartSoapIn" />
      <wsdl:output message="tns:LogMfccStartSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDbQueueCnt">
      <wsdl:input message="tns:getDbQueueCntSoapIn" />
      <wsdl:output message="tns:getDbQueueCntSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessInfo">
      <wsdl:input message="tns:GetProcessInfoSoapIn" />
      <wsdl:output message="tns:GetProcessInfoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostInfos">
      <soap:operation soapAction="http://tempuri.org/getHostInfos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProcessState">
      <soap:operation soapAction="http://tempuri.org/ChangeProcessState" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogMfccStart">
      <soap:operation soapAction="http://tempuri.org/LogMfccStart" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDbQueueCnt">
      <soap:operation soapAction="http://tempuri.org/getDbQueueCnt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessInfo">
      <soap:operation soapAction="http://tempuri.org/GetProcessInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getHostInfos">
      <soap12:operation soapAction="http://tempuri.org/getHostInfos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeProcessState">
      <soap12:operation soapAction="http://tempuri.org/ChangeProcessState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogMfccStart">
      <soap12:operation soapAction="http://tempuri.org/LogMfccStart" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDbQueueCnt">
      <soap12:operation soapAction="http://tempuri.org/getDbQueueCnt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessInfo">
      <soap12:operation soapAction="http://tempuri.org/GetProcessInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.21.50.100/sl/service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.21.50.100/sl/service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>