Host/Host/Web References/WebReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="printReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="rptId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="printReportResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetMovingContructEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="notifier" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="timeStamp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lineID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="directionID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="startMileage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="endMileage" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="blockTypeId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="blocklane" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetMovingContructEventResponse">
        <s:complexType />
      </s:element>
      <s:element name="CloseMovingConstructEvent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloseMovingConstructEventResponse">
        <s:complexType />
      </s:element>
      <s:element name="SendSMS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendSMSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SendSMSResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="printReportSoapIn">
    <wsdl:part name="parameters" element="tns:printReport" />
  </wsdl:message>
  <wsdl:message name="printReportSoapOut">
    <wsdl:part name="parameters" element="tns:printReportResponse" />
  </wsdl:message>
  <wsdl:message name="SetMovingContructEventSoapIn">
    <wsdl:part name="parameters" element="tns:SetMovingContructEvent" />
  </wsdl:message>
  <wsdl:message name="SetMovingContructEventSoapOut">
    <wsdl:part name="parameters" element="tns:SetMovingContructEventResponse" />
  </wsdl:message>
  <wsdl:message name="CloseMovingConstructEventSoapIn">
    <wsdl:part name="parameters" element="tns:CloseMovingConstructEvent" />
  </wsdl:message>
  <wsdl:message name="CloseMovingConstructEventSoapOut">
    <wsdl:part name="parameters" element="tns:CloseMovingConstructEventResponse" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapIn">
    <wsdl:part name="parameters" element="tns:SendSMS" />
  </wsdl:message>
  <wsdl:message name="SendSMSSoapOut">
    <wsdl:part name="parameters" element="tns:SendSMSResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="printReport">
      <wsdl:input message="tns:printReportSoapIn" />
      <wsdl:output message="tns:printReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetMovingContructEvent">
      <wsdl:input message="tns:SetMovingContructEventSoapIn" />
      <wsdl:output message="tns:SetMovingContructEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloseMovingConstructEvent">
      <wsdl:input message="tns:CloseMovingConstructEventSoapIn" />
      <wsdl:output message="tns:CloseMovingConstructEventSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <wsdl:input message="tns:SendSMSSoapIn" />
      <wsdl:output message="tns:SendSMSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printReport">
      <soap:operation soapAction="http://tempuri.org/printReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMovingContructEvent">
      <soap:operation soapAction="http://tempuri.org/SetMovingContructEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseMovingConstructEvent">
      <soap:operation soapAction="http://tempuri.org/CloseMovingConstructEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="printReport">
      <soap12:operation soapAction="http://tempuri.org/printReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMovingContructEvent">
      <soap12:operation soapAction="http://tempuri.org/SetMovingContructEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseMovingConstructEvent">
      <soap12:operation soapAction="http://tempuri.org/CloseMovingConstructEvent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendSMS">
      <soap12:operation soapAction="http://tempuri.org/SendSMS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://10.21.50.25/Service/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://10.21.50.25/Service/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>